services:
  untilwall:
    container_name: untilwall
    image: 0x3654/untilwall:latest
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    restart: unless-stopped
